<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form action="/api/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="textImage" />
        <button type="submit">Upload</button>
    </form>

    <div id = "result">
        <p id = "extractedText"></p>
    </div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', async function(event){
            event.preventDefault(); 

            const formData = new FormData(this);
            try{
                const response = await fetch('/api/upload', {
                    method: 'POST',
                    body: formData
                });

                const data = await response.json();

                if(data.success){
                    document.getElementById('extractedText').textContent = data.data.extractedText;
                } else {
                    console.error('Error: ', data.message);
                }
            } catch (error){
                console.error('Error: ', error);
            }
        });
    </script>

</body>
</html>
